
eightdays2/eightdays/gameData/worlds/sus/susOtherData.txt
eightdays2/eightdays/gameData/worlds/sus/susWorld.txt
eightdays2/eightdays/gameData/worlds/world/worldOtherData.txt
eightdays2/eightdays/gameData/worlds/world/worldWorld.txt
eightdays2/eightdays/gameData/worlds/world/worldWorld.txt
eightdays2/eightdays/gameData/worlds/world/worldOtherData.txt
